.offers {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include mobile425 {
            justify-content: center;
        }
    }

    &__item {
        width: 32%;
        height: 16vw;
        background-color: $brown;
        margin: 0 0 30px;
        color: $white;
        @include flex-center-center;
        flex-direction: column;
        text-transform: uppercase;
        background-size: cover;

        @include tablet {
            height: 22vw;
            margin: 0 0 19px;
        }

        @include mobile425 {
            width: 95%;
            height: 66vw;
            margin: 0 0 32px;
        }
    }

    &__item_women {
        background-image: url(../images/offer-women.png);
    }

    &__item_men {
        background-image: url(../images/offer-men.png);
    }

    &__item_kids {
        background-image: url(../images/offer-kids.png);
    }

    &__item_accesories {
        background-image: url(../images/offer-accesories.png);
        width: 100%;
        height: 11vw;
        margin: 0;

        @include tablet {
            height: 15vw;
        }

        @include mobile425 {
            width: 95%;
            height: 30vw;
            background-position: center;
        }
    }

    &__text {
        color: $pink;
        @include font-settings (700, 24px, 29px);
    }
}